/* Color Palette - "Funky Geometry" from Adobe Color- in Hex */
:root {
   --darkblue: #212940;
   --teal: #2DA69A;
   --yellow: #F2BE22;
   --beige: #F2EAD0;
   --orange: #F25835;
}

.row{
    margin-bottom: 0;
}

.card .card-content{
    padding-bottom: 0;
    padding-top: 10px;
}

nav{
    padding-left: 20px;
    padding-right: 20px;
}

.submitBtn {
    display: block;
    margin: auto;
}

.uLoc {
    width: 10%;
}

.homepage{
    background-color: skyblue;
}

.tripType:hover {
    border: 5px;
    border-color: blue;
}