.row{
    margin-bottom: 0;
}

.card .card-content{
    padding-bottom: 0;
    padding-top: 10px;
}

nav{
    padding-left: 20px;
    padding-right: 20px;
}

.submitBtn {
    display: block;
    margin: auto;
}

/* styles for the map id */
#map {
text-align: center;
height: 500px;
width: 100%;
}