/* Color Palette - "Funky Geometry" from Adobe Color- in Hex */
:root {
   --darkblue: #212940;
   --teal: #2DA69A;
   --yellow: #F2BE22;
   --beige: #F2EAD0;
   --orange: #F25835;
}

body {
    background-color: var(--beige);
}

.banner-image {
    padding: 10px 0px 10px 0px;
    height: 200px;
}

#custom-nav {
    background-color: var(--teal);
    margin-top: 40px;
}

#custom-header {
    color: var(--yellow);
    font-style: oblique;
    font-weight: bolder;
}

#user-location {
    text
}

/* .selectCards {
    background-color: var(--beige);
    padding: 10px;
} */

.row{
    margin-bottom: 0;
}

.card .card-content{
    padding-bottom: 0;
    padding-top: 10px;
}

nav{
    padding-left: 20px;
    padding-right: 20px;
}

.custom-cardTitle {
    color: var(--beige);
}

.submitBtn {
    display: block;
    margin: auto;
}

#custom-homeBtn {
    background-color: var(--orange);
    color: var(--beige);
    font-weight: bold;
    margin-top: 10px;
}

/* styles for the map id */
#map {
text-align: center;
height: 500px;
width: 100%;
}

.uLoc {
    width: 10%;
}

.homepage{
    background-color: skyblue;
}

.tripType:hover {
    border: 5px;
    border-color: blue;
}